/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require sweetalert 
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
/*
 ########  ########  ######  ######## ######## 
 ##     ## ##       ##    ## ##          ##    
 ##     ## ##       ##       ##          ##    
 ########  ######    ######  ######      ##    
 ##   ##   ##             ## ##          ##    
 ##    ##  ##       ##    ## ##          ##    
 ##     ## ########  ######  ########    ##    */
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 html{
        font-size: 1em;
    }
/*
 ##     ##    ###    ########  ####    ###    ########  ##       ########  ######  
 ##     ##   ## ##   ##     ##  ##    ## ##   ##     ## ##       ##       ##    ## 
 ##     ##  ##   ##  ##     ##  ##   ##   ##  ##     ## ##       ##       ##       
 ##     ## ##     ## ########   ##  ##     ## ########  ##       ######    ######  
  ##   ##  ######### ##   ##    ##  ######### ##     ## ##       ##             ## 
   ## ##   ##     ## ##    ##   ##  ##     ## ##     ## ##       ##       ##    ## 
    ###    ##     ## ##     ## #### ##     ## ########  ######## ########  ######  */
 
    $white: #FAFAFA;
    $oil: #2D3142;
    $green: #63D761;
    $grey: #BDBDBD;
    $red: #d14555;
    
    
    
    
 /*
 
##        #######   ######   #### ##    ## 
##       ##     ## ##    ##   ##  ###   ## 
##       ##     ## ##         ##  ####  ## 
##       ##     ## ##   ####  ##  ## ## ## 
##       ##     ## ##    ##   ##  ##  #### 
##       ##     ## ##    ##   ##  ##   ### 
########  #######   ######   #### ##    ## 

*/

.pagelogin{
    background-color: $oil;
}

.buttons{
    background-color: $green;
    border: 0.5px solid $grey;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: "Press Start 2P";
    margin-right: 15px;
    padding: 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    color: $oil;
}

.buttons:hover{
    background-color: $white;
    color: $green;
    border: 0.5px solid $oil;
}

.field-login, .actions-login{
    display: inline;
    padding: 10px;
}
.login{
    float: right;
    margin-top: 15px;
}

.pagelogin .icone{
    width: 50px;
    margin-left: 20px;
    margin-top: 7px;
    
}

.pagelogin .field-login input, .pagelogin .field-cadastro input, .pagelogin .field-cadastro-1 input{
    background-color: $oil;
    border-radius: 5px;
    border: 0.5px solid $grey;
    padding: 10px;
    color: $white;
}

.pagelogin .field-login input::placeholder{
    color: $grey;
}

.pagelogin h1{
    font-size: 3em;
    color: $white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.pagelogin h2{
    font-size: 2em;
    color: $white;
    text-align: center;
    margin-top: 1em;
    font-family: 'Press Start 2P', cursive;

}
.pagelogin .titulo-login{
    float: left;
    height: 400px;
    display: flex;
    width: 60vw;
}

.body{
    min-height: 900px;
}

.pagelogin .titulo-login-center{
    margin: auto;
}

.pagelogin .cadastro{
    float: right;
    width: 36vw;
    display: flex;
    margin-right: 10px;
}

.pagelogin .center-cadastro{
    margin: 0px auto;
    display: grid;
    width: 240px;
}
.pagelogin label{
    color: $white;
    margin-top: 1em;
}

.pagelogin .field-cadastro-1 label{
    margin-top: 30px;
    text-align: center
}

.pagelogin #user_birth{
    color: $white;
    width: 100%;
}

.pagelogin #user_password_confirmation{
    margin-bottom: 10px;
}

.pagelogin .actions-cadastro .buttons{
    width: 100%;
    margin-top: 10px;
}

.pagelogin .cadastro-h2{
    text-transform: uppercase;
}

.pagelogin .field-cadastro input, .pagelogin .field-cadastro-1 input{
    width: 100%;
    color: $white;
}
.pagelogin .field-cadastro, .pagelogin .field-cadastro-1{
    
}
.pagelogin .center-cadastrao{
    margin: 0 auto;
}

/* 

##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## 
*/
.header{
    background: $oil;
    margin: 0 auto;
   text-align: center;

}

.header .icone{
    width: 50px;
}




/*
###     ######  ##     ## #### ######## ##     ## ######## ##     ## ######## ##    ## ########  ######  
## ##   ##    ## ##     ##  ##  ##       ##     ## ##       ###   ### ##       ###   ##    ##    ##    ## 
##   ##  ##       ##     ##  ##  ##       ##     ## ##       #### #### ##       ####  ##    ##    ##       
##     ## ##       #########  ##  ######   ##     ## ######   ## ### ## ######   ## ## ##    ##     ######  
######### ##       ##     ##  ##  ##        ##   ##  ##       ##     ## ##       ##  ####    ##          ## 
##     ## ##    ## ##     ##  ##  ##         ## ##   ##       ##     ## ##       ##   ###    ##    ##    ## 
##     ##  ######  ##     ## #### ########    ###    ######## ##     ## ######## ##    ##    ##     ######  
*/

.achievements h1{
    font-size: 3em;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.achievement{
    background-color: $oil;
    max-width: 70vw;
    margin: 10px auto;
    max-height: 60px;
}

.achievement h2{
    font-size: 1.0em;
    font-family: 'Press Start 2P', cursive;
    color: $white;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.achievement .icone{
    float: left;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.achievement h3{
    font-size: 0.95em;
    color: $grey;
}


.logout-button:hover{
    background-color: $oil;
    text-decoration: none;
    color: $red;
    .link-logout{
        text-decoration: none;
        color: $red;
    }
}

.link-logout{
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
}


.logout-button {
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid $oil;
    font-family: 'Press Start 2P', cursive;
    background:$red;
    box-shadow:2px 2px 0 rgba(0,0,0,.5);
    display:inline-block;
    font-size:1em;
    padding: 1em 2em;
    text-decoration:none;
  }

  .logout-button:hover {

    box-shadow:2px 2px 0 rgba(0,0,0,.5);
  }

  .logout-button{
    transform: skew(-20deg);
  }

  .link-logout{
    display:inline-block;
    transform: skew(20deg);
  }


/*
########  ########   #######  ######## #### ##       ######## 
##     ## ##     ## ##     ## ##        ##  ##       ##       
##     ## ##     ## ##     ## ##        ##  ##       ##       
########  ########  ##     ## ######    ##  ##       ######   
##        ##   ##   ##     ## ##        ##  ##       ##       
##        ##    ##  ##     ## ##        ##  ##       ##       
##        ##     ##  #######  ##       #### ######## ######## */


.page-profile{
    background-color: $oil;
    height: 120vh;
}

.page-profile .center-left{
    width: 45vw;
    margin: 0px auto;
    text-align: center;
    float: left;
    border-right: 1px solid $grey;
}
.page-profile .center-right{
    margin: 0 auto;
    width: 45vw;



}

.page-profile .center-center-right{
    float: right;
    width: 53vw;
}
.page-profile h2{
    font-size: 1.5em;
    color: $white;
    margin-top: 2em;
    font-family: 'Press Start 2P', cursive;
}

.page-profile h3{
    font-size: 1.2em;
    color: $white;
    margin-top: 2em;
    font-family: 'Press Start 2P', cursive;
}

.page-profile .select-titulo{
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    background-color:$grey;
    height: 29px;
    overflow: hidden;
    width: 240px;
    -webkit-appearance: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9em;
    text-indent: 10px;
    color: $oil;
}

.page-profile .n_de_gem{
    float: right;
}
.page-profile .numero_de_gems{
    margin-top: 0px;
    display: inline;
}

.page-profile .imagem-gem{
    display: inline;
}

.page-profile .num-de-xp{
    float: right;

}

.page-profile .texto-de-xp{
    float: left;
}


.page-profile .rectangles{
    position: relative;
    z-index: 9;
    background: $grey;
    width:45vw;
    height:34px;
    margin-top: 110px;  
    margin-bottom: 40px;
}

.page-profile .rectangles:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 45%;
    bottom: 0;
    left: 0;
    background: $green;

    
}

.page-profile .linha-horizontal{
    background: $grey;
    width: 20vw;
    height: 0.8px;
    text-align: center;
    margin: auto;
}

.page-profile .ultimas-conquistas{
    text-align: center; 
    margin-bottom: 20px;
}
.page-profile .icones{
    margin: 0 auto;
    text-align: center;
}

.page-profile .icone{
    display: inline;
    height: 45px;
    margin: auto 30px;
    margin-bottom: 20px;
}
.page-profile .center{
    margin: 0 auto;
    text-align: center;
}



.page-profile{
.logout-button:hover{
    background-color: $white;
    text-decoration: none;
    color: $green;
    .link-logout{
        text-decoration: none;
        color: $green;
    }
}

.link-logout{
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
}


.logout-button {
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid $oil;
    font-family: 'Press Start 2P', cursive;
    background:$green;
    box-shadow:2px 2px 0 rgba(0,0,0,.5);
    display:inline-block;
    font-size:1em;
    padding: 1em 2em;
    text-decoration:none;
  }

  .logout-button:hover {

    box-shadow:2px 2px 0 rgba(0,0,0,.5);
  }

  .logout-button{
    transform: skew(-20deg);
  }

  .link-logout{
    display:inline-block;
    transform: skew(20deg);
  }

}

.page-profile .center .logout-button{
    margin-left: 0px;
}

.page-profile .link-perfil{
    display: none;
}