<div class="achievements">


<% @achievements.each do |ach| %>
    <div class="achievement">
    <%= image_tag("medalha.svg", :alt => "ícone de medalha", class:"icone") %>
    <h2><%= ach.title %></h2>
    <h3><%= ach.description %></h3>
    <br>
    </div>
<% end %>
</div>
