<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou um link para mudar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mude minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
