    <nav class="header">
    <% if !@hide_header %>
        <% if user_signed_in? %>
            <%= image_tag("logo.svg", :alt => "ícone da logo", class:"icone") %>
        <% end %>
    <% end %>
    </nav>