    <nav class="header">
    <% if !@hide_header %>
        <% if user_signed_in? %>
            <%= link_to painel_aluno_path do %>
                <%= image_tag("logo.svg", :alt => "ícone da logo", class:"icone") %>
            <% end %>
        <% end %>
    <% end %>
    </nav>